<div class="text-center">
    <form method="post">
        <label>Логин:</label><br />
        <input type="text" name="username" /><br /><br />
        <label>Пароль:</label><br />
        <input type="password" name="password" /><br /><br />
        <input type="submit" value="Отправить" />
    </form>
</div>
